body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: "Hachi Maru Pop", cursive;
}
h1 {
  text-align: center;
  border: 1px;
  border-radius: 5px;
  width: 100%;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
h3 {
  background-color: whitesmoke;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  margin: 5vh;
  color: black;
}
img {
  margin-top: 2vh;
  border-radius: 5px;
}

#sticky-footer {
  margin-top: auto;
}

.green-border-focus .form-control:focus {
  border: 1px solid #8bc34a;
  box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, 0.25);
}
